.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
*.class
InventoryStockManagement/resources/.DS_Store
InventoryStockManagement/.DS_Store
InventoryStockManagement/src/.DS_Store
.DS_Store
